name: Build and Deploy
on:
  push:
    branches:
      - Prod # Change this to your default branch name
permissions:
  contents: write
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install Dependencies
        run: npm install

      - name: Build
        # Replace REPO_NAME and PROJECT_NAME
        run: npx ng build --configuration production --base-href /Global-Connect-Web/

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: dist/global-connect-web/browser # Ensure this matches your build output
          branch: gh-pages